<h1>Recording Artists</h1>
<%= link_to "Add Artist", new_artist_path %>
<ul>
<% @artist.each do |artist| %>
  <li>
  <%= image_tag artist.avatar.url(:thumb) %>
  <%= link_to artist.name, artist_path(artist) %>
  </li>
<% end %>
</ul>