<% @songs.each do |song| %>

  <div style="margin: 0 auto;">
  
  <%= image_tag song.album_cover.url(:thumb) %>
  
  <p><strong>Artist</strong><br>
  <%= display_artist(song) %><br>
  <strong>Title</strong><br>
  <%= link_to song.title, song_path(song) %></p></div>
<% end %>
<br>
<%= link_to "Add New Song", new_song_path %>
