
<ul>
<% @songs.each do |song| %>
  <li><%= image_tag song.album_cover.url(:thumb) %><br>
  <%= display_artist(song) %> - <%= link_to song.title, song_path(song) %></li>
<% end %>
</ul>
<br>

<h1>Add a Song</h1>
<%= link_to "Add New Song", new_song_path %><br><br>
