 <% @songs.each do |song| %>
    <li>
    <%= image_tag song.album_cover.url(:thumb) %>
    <%= link_to song.title, song_path(song) %><br>
<%= display_artist(song) %>

  end
    </li>
  <% end %>
<%= link_to "Add New Song", new_song_path %>
